@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto+Slab&family=Suez+One&display=swap');

*{
	background-color: rgb(20,20,20);
	margin: 0;
	padding: 0;

}

body{
	width: 100%;
	height: 100%;}





a{	
	color: #8914A9;
	text-decoration: none;
	-ms-transition: all.6s ease;
	-o-transition: all.6s ease;
	-moz-transition: all.6s ease;

}

a:hover{
	color: #57006B;
	text-decoration: none;
	-ms-transition: all.6s ease;
	-o-transition: all.6s ease;
	-moz-transition: all.6s ease;

}

img{
	max-width: 100%;
	height: auto;
	width: auto\9;
	-moz-transition: all.6s ease;
	-o-transition: all.6s ease;
	-webkit-transition: all.6s ease;

}

hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid rgb(20,20,20);


}

header{
	position: fixed;
	width :  100%;
	background-color: rgb(20,20,20); 
	border-bottom:  3px solid #1B1B1B;

}

header>div#logo>a{
	color: rgb(20,20,20);


}


header>div#logo>a>span{
	font-size: 2.5em;
	margin-left: 10px;
	font-family: 'Suez One', serif;
	margin-top: 5px;
	color: red;


}

.screen{
	color: #00BAFF
}

header>div#logo>a>img{
	


}

#logo{
	float: left;
	width: 30%;



}

#news{
	float:  left;
	width: 30%;




}
#products{
	float:  left;
	width: 30%;
}

#about{
	float:  right;
	width: 10%;
}
header>div#news>a{
	font-size: 2.5em;
	margin-left: 10px;
	font-family: 'Roboto Slab', serif;
	margin-top: 5px;
	color: #FF7F00;}

header>div#products>a{
	font-size: 2.5em;
	margin-left: 10px;
	font-family: 'Roboto Slab', serif;
	margin-top: 5px;
	color: yellow;}

header>div#about>a{
	font-size: 2.5em;
	margin-left: 10px;
	font-family: 'Roboto Slab', serif;
	margin-top: 5px;
	color: green;
}
footer{
	width: 98%;
	float: left;
	padding: 1%;
	background-color: white;
	border-top: 2 px solid gray;
	margin-top: 700px;


}

.head_img{
	margin-top: 2%;
	margin-left: 2.5%;

}


p{	

	font-size: 200%;
	margin-top: 7%;
	margin-left: 3%;
	color: white;
	font-family: 'Roboto Slab', serif;


}


#menu_class{
	float: right;
	padding-right: 3%;
	padding-top: 1%;





}

#mainBlock{
	font-family: 'Roboto Slab', serif;
	margin-top: 10%;





}


a.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 12px 5px;
  border-radius: 3px;
  background: #BB1900;
  box-shadow: 0 -3px #A31800 inset;
  transition: 0.2s;
  border-radius: 8px;
  margin-top: 90%;
  font-family: 'Roboto Slab', serif;
	margin-top: 10px;
  width: 100vw;
  height: 100vh;
} 
a.button7:hover { background: #A31800; }
a.button7:active {
  background: #6B1900;
  padding: 12px 28px;
  box-shadow: 0 -3px #4A1900 inset;
  border-radius: 8px;
  font-family: 'Roboto Slab', serif;


  

}

